/* Footer */
.footer {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.footer svg {
    width: 2rem;
    height: auto;
    padding: 5px;
}