body {
    margin: 0;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* NAVBAR */
.nav {
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    padding: 0.3rem;
}

.nav-img {
    width: 50px;
    padding-left: 2rem;
}

.nav-items {
    padding-right: 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item {
    padding: 0 10px;
}

.nav-btn {
    width: fit-content;
    color: white;
    background-color: #88bcdd;
    border: solid 2px #88bcdd;
    padding: 10px 20px;
    border-radius: 3px;
}

.nav-btn:hover {
    background-color: transparent;
    color: #88bcdd;
}

.hamburger-icon {
    display: block; /* Show hamburger icon initially */
    cursor: pointer;
    padding-right: 1.5rem;
}

.close-icon {
    cursor: pointer;
    text-align: end;
    padding-right: 1rem;
}

/* Default (desktop/laptop) Styles */
.nav-list {
    display: flex; /* Show links by default */
    flex-direction: row; /* Row layout on desktop */
    position: static; /* Not fixed on desktop */
    height: auto; /* Adjust height for desktop */
    width: auto; /* Adjust width for desktop */
    background-color: transparent; /* Transparent on desktop */
    box-shadow: none; /* Remove shadow on desktop */
    padding-top: 0; /* Remove top padding on desktop */
}

/* INTRODUCTION */
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-container p, h1 {
    color: white;
}

.intro-body {
    width: 75%;
    border-radius: 1rem;
    border: dashed 2px white;
    padding: 3rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
 
.intro-title p, h1 {
    margin: 0;
}

/* CARD */
.cards {
    padding: 3rem;
    text-align: center;
}

.cards p {
    color: white;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    width: 18rem;
    height: 18rem;
    perspective: 1000px;
    margin: 1rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    border-radius: 0.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    /* background-color: #0b0b0b; */
    color: black;
    border-bottom: solid 1px rgb(45, 45, 45);
    border-right: solid 1px rgb(45, 45, 45);
    background-image: url('img/TAMUSA-logo-dark.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-front img {
    width: 10rem;
    height: 10rem;
}

.flip-card-front h2 {
    color: white;
}

.flip-card-back {
    background-color: #e7f9fd;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.flip-card-back p {
    color: black;
}

.card-btn {
    width: fit-content;
    color: white;
    background-color: #757575;
    border: solid 2px #757575;
    padding: 10px 20px;
    border-radius: 3px;
}

.card-btn:hover {
    color: #757575;
    background-color: transparent;
    border: solid 2px #757575;
}

.hack-container {
    background-color: #757575;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.hack {
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jag-hacks {
    padding-right: 2rem;
}

.jag-hacks p {
    margin-bottom: 2rem;
}

.jag-btn {
    width: fit-content;
    color: white;
    background-color: #88bcdd;
    border: solid 2px #88bcdd;
    padding: 10px 20px;
    border-radius: 3px;
}

.jag-btn:hover {
    color: #88bcdd;
    background-color: transparent;
    border: solid 2px #88bcdd;
}

.jag-hacks-img img {
    margin: 1rem 0 1rem 0;
    border: dashed 2px white;
    padding: 1rem;
    border-radius: 50%;
    width: 25rem;
    height: auto;
}

.footer {
    background-color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.footer svg {
    width: 2rem;
    height: auto;
    padding: 5px;
}

/* MAX-WIDTH */
@media (max-width: 768px) {
    .nav-list {
        display: flex; /* Keep display flex but transform it out of view initially */
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        background-color: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        padding-top: 2rem;
        transform: translateX(100%); /* Move out of view to the right */
        transition: transform 0.3s ease; /* Smooth sliding transition */
    }

    .nav-items {
        padding: 0px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .nav-item {
        padding: 10px;
    }

    .nav-list.active {
        transform: translateX(0); /* Slide into view */
    }

    .hamburger-icon {
        display: block; /* Show hamburger icon on mobile */
    }

    .intro-container {
        width: 100%;
        height: 500px;
        background-image: url('img/circuit-background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .intro-body {
        padding: 2rem;
    }
    
    .intro-title p {
        font-size: 12px;
    }
    
    .intro-text {
        margin-top: 20px;
    }

    .card-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hack {
        display: flex;
        flex-direction: column;
    }

    .jag-hacks {
        text-align: center;
        padding: 0;
    }

    .jag-hacks-img img {
        margin: 3rem 0 1rem 0;
        border: dashed 2px white;
        padding: 1rem;
        border-radius: 50%;
        width: 20rem;
        height: auto;
    }
}

/* MIN-WIDTH */
@media (min-width: 769px) {
    .hamburger-icon, .close-icon {
        display: none; /* Hide both by default */
    }

    .intro-container {
        width: 100%;
        height: 500px;
        background-image: url('img/circuit-background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .intro-title {
        font-size: 25px;
    }
    
    .intro-text {
        margin-top: 20px;
        font-size: 20px;
    }
}